// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary          : #913A1F;
$secondary        : #80301F;
$background       : #4C261E;
$main-border      : #682214;
$accent           : #9C27B0;

$side-background  : #63606B;
$side-border      : #E4DED0;

$title-text       : #ECE3CB;
$title-shadow     : #2A2725;
$main-text        : #ECECEC;
$secondary-text   : #333333;

// Color classes
.bg-primary         { background: $primary;    }
.bg-secondary       { background: $secondary;  }
.bg-background      { background: $background; }

.text-primary        { color: $primary;        }
.text-secondary      { color: $secondary;      }
.text-main-text      { color: $main-text;      }
.text-secondary-text { color: $secondary-text; }

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



$typography-font-family         : Verdana, sans-serif !default;
